[submodule "Holloware/vendor/spdlog"]
	path = Holloware/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Holloware/vendor/GLFW"]
	path = Holloware/vendor/GLFW
	url = https://github.com/gpiazza-tech/glfw
[submodule "Holloware/vendor/imgui"]
	path = Holloware/vendor/imgui
	url = https://github.com/gpiazza-tech/imgui
[submodule "Holloware/vendor/glm"]
	path = Holloware/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Holloware/vendor/pybind11"]
	path = Holloware/vendor/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "Holloware/vendor/tcc"]
	path = Holloware/vendor/tcc
	url = https://github.com/TinyCC/tinycc
[submodule "Holloware/vendor/efsw"]
	path = Holloware/vendor/efsw
	url = https://github.com/SpartanJ/efsw
[submodule "PerplexCore/vendor/GLFW"]
	path = PerplexCore/vendor/GLFW
	url = https://github.com/gpiazza-tech/glfw
[submodule "PerplexCore/vendor/tcc"]
	path = PerplexCore/vendor/tcc
	url = https://github.com/gpiazza-tech/TCC
